<form [formGroup]="formulaire" (ngSubmit)="validationForm()">
  <div class="grid mt-5 p-fluid">
    <div class="col-12 lg:col-offset-3 lg:col-6 shadow-2 bg-gray-300">
      <p-card>
        <div class="field mb-6">
          <span class="p-float-label mb-2">
            <input id="surname" type="text" formControlName="surname" pInputText>
            <label for="surname">Nom</label>
          </span>
          <div *ngIf="surname?.touched">
            <small *ngIf="surname?.hasError('pattern')" class="p-error">
              {{messagesErreur[0]}}
            </small>
            <small *ngIf="surname?.hasError('required')" class="p-error">
              {{messagesErreur[1]}}
            </small>
          </div>
        </div>
        <div class="field mb-6">
          <span class="p-float-label mb-2">
            <input id="firstname" type="text" formControlName="firstname" pInputText>
            <label for="firstname">Prénom</label>
          </span>
          <div *ngIf="firstname?.touched">
            <small *ngIf="firstname?.hasError('pattern')" class="p-error">
              {{messagesErreur[0]}}
            </small>
            <small *ngIf="firstname?.hasError('required')" class="p-error">
              {{messagesErreur[1]}}
            </small>
          </div>
        </div>
        <div class="field mb-6">
          <span class="p-float-label mb-2">
            <p-calendar inputId="birth_date" formControlName="birth_date" dateFormat="dd/mm/yy" [showIcon]="true">
            </p-calendar>
            <label for="birth_date">Date de Naissance</label>
          </span>
          <div *ngIf="birth_date?.touched">
            <small *ngIf="birth_date?.hasError('required')" class="p-error">
              {{messagesErreur[1]}}
            </small>
          </div>
        </div>
        <div class="field mb-6">
          <span class="p-float-label mb-2">
            <input id="address" type="text" formControlName="address" pInputText>
            <label for="address">Adresse</label>
          </span>
          <div *ngIf="address?.touched">
            <small *ngIf="address?.hasError('required')" class="p-error">
              {{messagesErreur[1]}}
            </small>
          </div>
        </div>
        <div class="field mb-6">
          <span class="p-float-label mb-2">
            <input id="zip_code" type="text" formControlName="zip_code" pInputText>
            <label for="zip_code">Code Postal</label>
          </span>
          <div *ngIf="zip_code?.touched">
            <small *ngIf="zip_code?.hasError('required')" class="p-error">
              {{messagesErreur[1]}}
            </small>
          </div>
        </div>
        <div class="field mb-6">
          <span class="p-float-label mb-2">
            <input id="city" type="text" formControlName="city" pInputText>
            <label for="city">Ville</label>
          </span>
          <div *ngIf="city?.touched">
            <small *ngIf="city?.hasError('required')" class="p-error">
              {{messagesErreur[1]}}
            </small>
          </div>
        </div>
        <div class="field mb-6">
          <span class="p-float-label mb-2">
            <input id="country" type="text" formControlName="country" pInputText>
            <label for="country">Pays</label>
          </span>
          <div *ngIf="country?.touched">
            <small *ngIf="country?.hasError('required')" class="p-error">
              {{messagesErreur[1]}}
            </small>
          </div>
        </div>
        <div class="field mb-6">
          <span class="p-float-label mb-2">
            <input id="mail" type="text" formControlName="mail" pInputText>
            <label for="mail">E-mail</label>
          </span>
          <div *ngIf="mail?.touched">
            <small *ngIf="mail?.errors?.['required']" class="p-error">
              {{messagesErreur[1]}}
            </small>
            <small *ngIf="mail?.errors?.['email']" class="p-error">
              {{messagesErreur[0]}}
            </small>
            <small *ngIf="mail?.errors?.['uniqueMail']" class="p-error">
              {{messagesErreur[2]}}
            </small>
          </div>
        </div>
        <div class="field mb-6">
          <span class="p-float-label mb-2">
            <p-password id="password" formControlName="password" weakLabel="Faible" mediumLabel="Moyen"
              strongLabel="Fort" promptLabel="Saisir un mot de passe" [strongRegex]="strongPasswordRegex"
              (onBlur)="password?.markAsTouched()">
              <ng-template pTemplate="header">
                <h6>Définir un mot de passe</h6>
              </ng-template>
              <ng-template pTemplate="footer">
                <p-divider></p-divider>
                <p class="mt-2">Suggestions</p>
                <ul class="pl-2 ml-2 mt-0 line-height-3">
                  <li>Au moins une minuscule</li>
                  <li>Au moins une majuscule</li>
                  <li>Au moins un chiffre</li>
                  <li>Au moins un caractère spécial</li>
                  <li>Au moins 8 caractères</li>
                </ul>
              </ng-template>
            </p-password>
            <label for="password">Mot de Passe</label>
          </span>
          <div *ngIf="password?.touched">
            <small *ngIf="password?.hasError('required')" class="p-error">
              {{messagesErreur[1]}}
            </small>
          </div>
        </div>
        <div class="field mb-6">
          <span class="p-float-label mb-2">
            <input id="confirmPassword" type="password" formControlName="confirmPassword" pInputText>
            <label for="confirmPassword">Confirmez votre mot de passe</label>
          </span>
          <div *ngIf="confirmPassword?.touched">
            <small *ngIf="confirmPassword?.hasError('required')" class="p-error">
              {{messagesErreur[1]}}
            </small>
            <small class="p-error" *ngIf="confirmPassword?.value && password?.value !== confirmPassword?.value">
              {{messagesErreur[0]}}
            </small>
          </div>
        </div>
        <div class="mb-6">
          <div class="field-checkbox mb-2">
            <p-checkbox type="checkbox" id="newsletter" [binary]="true" formControlName="newsletter"></p-checkbox>
            <label for="newsletter">J'accepte de recevoir la newsletter de SVB-Ind Ottawa Pigeon</label>
          </div>
        </div>
        <div class="col-offset-3 col-6 flex flex-wrap align-items-center justify-content-center">
          <button pButton pRipple [disabled]="formulaire.invalid" type="submit" label="Créer mon compte"
            class="p-button-raised"></button>
        </div>
        <div class="col-offset-3 col-6 flex flex-wrap align-items-center justify-content-center">
          <button pButton pRipple label="Annuler" class="p-button-raised p-button-danger"
            routerLink="../../accueil"></button>
        </div>
        <div class="col-offset-3 col-6 flex flex-wrap align-items-center justify-content-center">
          <p>OU</p>
        </div>
        <div class="col-offset-3 col-6 flex flex-wrap align-items-center justify-content-center">
          <button pButton pRipple label="S'inscrire via un compte Google" type="button" icon="pi pi-google"></button>
        </div>
      </p-card>
    </div>
  </div>
</form>
