<div class="grid mt-6">
 <div class="col-12 md:col-6 lg:col-3">
  <p-card header="Cotations" styleClass="shadow-2 bg-blue-100 h-22rem">

      <p><a routerLink="/Cotations">Cotations de A à Z</a></p>
      <p><a routerLink="/Palmares">Palmarès</a></p>
      <p><a routerLink="/Cryptomonnaie">Cryptomonnaie</a></p>
      <p><a routerLink="/Obligations">Obligations</a></p>
      <p><a routerLink="/ProduitsDerives">Produits dérivés</a></p>
      <p><a routerLink="/MatieresPremieres">Matières premières</a></p>
  </p-card>
</div>
  <div class="col-12 md:col-6 lg:col-3">
  <p-card header="Actualités" styleClass="shadow-2 bg-green-100 h-22rem">
      <p><a routerLink="/LaSeances">La séance</a></p>
      <p><a routerLink="/LeJournal">Le journal</a></p>
      <p><a routerLink="/VideoInvestisseur">Vidéo d'investisseurs</a></p>
      <p><a routerLink="/NosConseils">Nos Conseils</a></p>
  </p-card>
</div>
<div class="col-12 md:col-6 lg:col-3">
    <p-card header="Investir Responsable" styleClass="shadow-2 bg-orange-100 h-22rem">
        <p><a routerLink="/AccueilInvestirResponsable">Accueil</a></p>
        <p><a routerLink="/Dossier">Dossier</a></p>
        <p><a routerLink="/Videos">Vidéos</a></p>
    </p-card>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
  <p-card header="Autres Placements" styleClass="shadow-2 bg-purple-100 h-22rem">
      <p><a routerLink="/Immobilier">Immobilier</a></p>
      <p><a routerLink="/Retraite">Retraite</a></p>
      <p><a routerLink="/SicavFonds">SIcav -fonds</a></p>
      <p><a routerLink="/AssuranceVie">Assurance vie</a></p>
      <p><a routerLink="/Impots">Impôts</a></p>
  </p-card>
</div>
</div>
