<div class="grid mx-2 mt-6">
 <div class="col-12 md:col-6 lg:col-3">
  <p-card header="Cotations" styleClass="shadow-2 bg-primary-800 h-22rem">
    <p><a routerLink="Cotations" class="text-primary-200">Cotations de A à Z</a></p>
    <p><a routerLink="Palmares" class="text-primary-200">Palmarès</a></p>
    <p><a routerLink="Cryptomonnaie" class="text-primary-200">Cryptomonnaie</a></p>
    <p><a routerLink="Obligations" class="text-primary-200">Obligations</a></p>
    <p><a routerLink="ProduitsDerives" class="text-primary-200">Produits dérivés</a></p>
    <p><a routerLink="MatieresPremieres" class="text-primary-200">Matières premières</a></p>
  </p-card>
</div>
  <div class="col-12 md:col-6 lg:col-3">
  <p-card header="Actualités" styleClass="shadow-2 bg-primary-700 h-22rem">
    <p><a routerLink="LaSeances" class="text-primary-200">La séance</a></p>
    <p><a routerLink="LeJournal" class="text-primary-200">Le journal</a></p>
    <p><a routerLink="VideoInvestisseur" class="text-primary-200">Vidéo d'investisseurs</a></p>
    <p><a routerLink="NosConseils" class="text-primary-200">Nos Conseils</a></p>
  </p-card>
</div>
<div class="col-12 md:col-6 lg:col-3">
    <p-card header="Investir Responsable" styleClass="shadow-2 bg-primary-400 h-22rem">
      <p><a routerLink="AccueilInvestirResponsable" class="text-primary-900">Accueil</a></p>
      <p><a routerLink="Dossier" class="text-primary-900">Dossier</a></p>
      <p><a routerLink="Videos" class="text-primary-900">Vidéos</a></p>
    </p-card>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
  <p-card header="Autres Placements" styleClass="shadow-2 bg-primary-300 h-22rem">
    <div>
      <p><a routerLink="Immobilier" class="text-primary-900">Immobilier</a></p>
      <p><a routerLink="Retraite" class="text-primary-900">Retraite</a></p>
      <p><a routerLink="SicavFonds" class="text-primary-900">SIcav -fonds</a></p>
      <p><a routerLink="AssuranceVie" class="text-primary-900">Assurance vie</a></p>
      <p><a routerLink="Impots" class="text-primary-900">Impôts</a></p>
    </div>
  </p-card>
</div>
</div>
