<form [formGroup]="emailForm" (ngSubmit)="saveModification()">
  <h2 class="mb-5">Informations de connexions</h2>
  <div class="grid p-fluid">
    <div class="field col-12 md:col-4">
      <span class="p-float-label mb-2">
        <input type="text" id="mail" formControlName="mail" pInputText />
        <label for="mail">Adresse mail*</label>
      </span>
      <div *ngIf="mail?.touched" class="p-error">
        <small *ngIf="mail?.hasError('required')">
          Ce champ est obligatoire, merci de saisir l'information demandé
        </small>
        <small *ngIf="mail?.hasError('email')">
          Il semble y avoir une erreur de saisie ici
        </small>
          <small *ngIf="mail?.hasError('uniqueMail')">
            Un compte est déjà associé à cette adresse email
          </small>
      </div>
      <small
        >Avant de changer d'adresse mail, veuillez vous assurer d'avoir accès à
        la nouvelle adresse mail que vous souhaitez renseigner</small
      >
    </div>
  </div>
  <div
    class="grid p-fluid col-12 md:col-offset-4 md:col-4 justify-content-center"
  >
    <button
      pButton
      pRipple
      [disabled]="emailForm.invalid"
      type="submit"
      label="Mettre à jour"
      class="p-button-raised"
    ></button>
  </div>
</form>
