<h2 class="mb-4">Informations de connexion</h2>

<!-- Formulaire email -->
<form [formGroup]="emailForm" (ngSubmit)="saveEmail()">
  <div class="formgrid grid">
    <div class="field col-12 md:col-6 lg:col-4">
      <label for="email">Adresse email*</label>
      <input type="text" id="email" formControlName="email"
        pInputText class="w-full" />
      @if (email?.touched) {
        @if (email?.hasError('required')) {
          <small class="p-error">Ce champ est obligatoire</small>
        }
        @if (email?.hasError('email')) {
          <small class="p-error">Adresse email invalide</small>
        }
        @if (email?.hasError('emailTaken')) {
          <small class="p-error">Un compte est déjà associé à cette adresse email</small>
        }
      }
      <small class="text-color-secondary mt-1 block">
        Avant de changer d'adresse email, veuillez vous assurer d'avoir accès à
        la nouvelle adresse que vous souhaitez renseigner.
      </small>
    </div>

    <div class="col-12 mt-12 form-actions">
      <button pButton pRipple style="width: auto;"
        [disabled]="emailForm.invalid"
        type="submit"
        label="Mettre à jour"
        class="p-button-raised">
      </button>
    </div>
  </div>
</form>

<!-- Formulaire mot de passe -->
<h4 class="mb-4 mt-5">Modification du mot de passe</h4>
<form [formGroup]="passwordForm" (ngSubmit)="savePassword()">
  <div class="formgrid grid">

    <!-- Mot de passe actuel -->
    <div class="field col-12 md:col-4">
      <label for="currentPassword">Mot de passe actuel*</label>
      <input type="password" id="currentPassword"
        formControlName="currentPassword"
        pInputText class="w-full" />
      @if (currentPassword?.touched && currentPassword?.hasError('required')) {
        <small class="p-error">Ce champ est obligatoire</small>
      }
    </div>

    <!-- Nouveau mot de passe -->
    <div class="field col-12 md:col-4">
      <label for="newPassword">Nouveau mot de passe*</label>
      <p-password
        id="newPassword"
        formControlName="newPassword"
        weakLabel="Faible"
        mediumLabel="Moyen"
        strongLabel="Fort"
        promptLabel="Saisir un mot de passe"
        [strongRegex]="strongPasswordRegex"
        styleClass="w-full"
        (onBlur)="newPassword?.markAsTouched()">
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <ul class="pl-2 ml-2 mt-0 line-height-3">
            <li>Au moins une minuscule</li>
            <li>Au moins une majuscule</li>
            <li>Au moins un chiffre</li>
            <li>Au moins un caractère spécial</li>
            <li>Au moins 12 caractères</li>
          </ul>
        </ng-template>
      </p-password>
      @if (newPassword?.touched) {
        @if (newPassword?.hasError('required')) {
          <small class="p-error">Ce champ est obligatoire</small>
        }
        @if (newPassword?.hasError('minlength')) {
          <small class="p-error">Minimum 12 caractères</small>
        }
      }
    </div>

    <!-- Confirmation -->
    <div class="field col-12 md:col-4">
      <label for="confirmPassword">Confirmation*</label>
      <input type="password" id="confirmPassword"
        formControlName="confirmPassword"
        pInputText class="w-full" />
      @if (confirmPassword?.touched) {
        @if (confirmPassword?.hasError('required')) {
          <small class="p-error">Ce champ est obligatoire</small>
        }
        @if (passwordForm.hasError('notmatched')) {
          <small class="p-error">Les mots de passe ne correspondent pas</small>
        }
      }
    </div>

    <div class="col-12 mt-12 form-actions">
      <button pButton pRipple style="width: auto;"
        [disabled]="passwordForm.invalid"
        type="submit"
        label="Mettre à jour"
        class="p-button-raised px-5">
      </button>
    </div>

  </div>
</form>