<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <a routerLink="accueil">
      <h4 class="m-1">SVB ind - Ottawa Pigeon</h4>
    </a>
  </ng-template>
  <div *ngIf="isLogged; then thenTemplate; else elseTemplate"></div>
  <ng-template #thenTemplate>
    <p-button routerLink="parametres" class="m-1">
      <span i18n="@@header.welcome"><i class="pi pi-cog"></i> Bonjour {{loggedUserName}}</span>
    </p-button>
    <p-button class="m-1" (click)="logOffUser()">
      <span><i class="pi pi-power-off"></i></span>
    </p-button>
  </ng-template>
  <ng-template #elseTemplate>
    <p-button
      class="m-1"
      label={{signIn}}
      routerLink="authentication/connexion"
    >
    </p-button>
    <p-button
      class="m-1"
      label={{signUp}}
      routerLink="authentication/preambule"
    >
    </p-button>
  </ng-template>
</p-menubar>
