<div
  class="text-center mt-6"
>
  <img
    src="assets/logo.png"
    alt="logo"
    width="397"
    height="223"
  />
  <h1>Bienvenue !</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at aliquet nisi. Proin sed orci sagittis, lobortis ex in, pulvinar turpis. Vivamus semper convallis gravida. Phasellus luctus nisi et est tempus, vitae maximus lorem placerat. Vivamus in metus neque. Quisque pharetra quam vitae neque rutrum, non sodales orci congue. Nam sed dictum sem. Cras mollis risus ultrices felis blandit varius. Ut venenatis, est in porta mollis, dui justo accumsan arcu, ut fermentum tortor erat eu ligula. Maecenas feugiat eros a lacus fermentum vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ut urna sit amet mi molestie ultrices ac at lectus. Pellentesque pellentesque nulla mi.</p>
  <p>Nam sollicitudin urna accumsan arcu faucibus, at malesuada magna tincidunt. Phasellus sed rutrum tortor, in molestie ligula. Morbi tellus diam, aliquet at leo eu, laoreet faucibus lorem. Proin quam sapien, euismod at ullamcorper id, feugiat id ligula. Maecenas et viverra ipsum. Ut imperdiet et purus id tristique. Quisque sed ornare neque, at imperdiet purus. Nullam congue eget ipsum ac ultricies. Etiam et porttitor ex, sit amet tempus libero. Maecenas et sollicitudin orci, sit amet tempor augue.</p>
  <p>Aliquam orci nisl, lacinia eu scelerisque a, faucibus nec nisl. Sed luctus auctor sem, vel ultrices lacus facilisis ac. Aliquam rhoncus vestibulum auctor. Aenean condimentum molestie mi nec sagittis. Nunc viverra neque sit amet leo tristique, in iaculis nibh ullamcorper. Proin est risus, imperdiet quis erat vitae, rutrum vestibulum erat. Curabitur cursus ligula nec neque convallis hendrerit. Fusce dolor nunc, bibendum ut lacus tincidunt, tincidunt tincidunt mauris. Integer ut enim ornare orci interdum tristique sit amet eu nisl. Mauris a porta dolor, at placerat odio. Nam id maximus nisi. Nullam laoreet, dolor a volutpat auctor, diam justo gravida leo, eget ultricies elit purus ut dui. Phasellus dictum massa consectetur dictum sollicitudin. Aenean vitae ullamcorper nisl.</p>
</div>
