<h1>Découvrez nos différentes formules d'abonnements :</h1>
<p class="text-lg">
  Nos tarifs ont révolutionné le secteur, vous permettant de tirer le meilleur
  parti de vos investissements.
</p>
<div class="grid mx-2 md:mt-6">
  <div class="col-12 md:col-4 xl:col-2 xl:col-offset-1">
    <p-card header="Abonnement Basique" styleClass="shadow-2 bg-primary">
      <p>
        <i class="pi pi-check-circle"></i
        ><span> Un accès limité à une base d'informations​</span>
      </p>
      <p>
        <i class="pi pi-check-circle"></i
        ><span> Un accès gratuit aux contenus et services</span>
      </p>
      <p>
        <i class="pi pi-check-circle"></i
        ><span> Un abonnement sans engagement</span>​
      </p>
      <p>
        <i class="pi pi-circle"></i
        ><span> Des outils d'analyse, d'alerte et de conseil</span>
      </p>
      <p>
        <i class="pi pi-circle"></i
        ><span> Les sélections et analyses de SVB Ind</span>
      </p>
      <p>
        <i class="pi pi-circle"></i
        ><span> Un journal numérique hebdomadaire</span>
      </p>
      <p>
        <i class="pi pi-circle"></i
        ><span> À partager avec vos proches (3 comptes Inclus)</span>
      </p>
      <div
        class="col-offset-3 col-6 flex-wrap align-items-center justify-content-center"
      >
        <button
        pButton pRipple class="bg-primary-reverse" label="S'abonner" (click)="selectOption('BA')" type="button">
        </button>
      </div>
    </p-card>
  </div>
  <div class="col-12 md:col-4 xl:col-2 xl:col-offset-2">
    <p-card header="Abonnement Essentiel" styleClass="shadow-2 bg-primary">
      <p>
        <i class="pi pi-check-circle"></i
        ><span> Un accès limité à une base d'informations​</span>
      </p>
      <p>
        <i class="pi pi-check-circle"></i
        ><span> Un accès gratuit aux contenus et services</span>
      </p>
      <p>
        <i class="pi pi-check-circle"></i
        ><span> Un abonnement sans engagement</span>​
      </p>
      <p>
        <i class="pi pi-check-circle"></i
        ><span> Des outils d'analyse, d'alerte et de conseil</span>
      </p>
      <p>
        <i class="pi pi-check-circle"></i
        ><span> Les sélections et analyses de SVB Ind</span>
      </p>
      <p>
        <i class="pi pi-circle"></i
        ><span> Un journal numérique hebdomadaire</span>
      </p>
      <p>
        <i class="pi pi-circle"></i
        ><span> À partager avec vos proches (3 comptes Inclus)</span>
      </p>
      <div
        class="col-offset-3 col-6 flex-wrap align-items-center justify-content-center"
      >
        <button
        pButton pRipple class="bg-primary-reverse" label="S'abonner" (click)="selectOption('ES')" type="button">
        </button>
      </div>
    </p-card>
  </div>
  <div class="col-12 md:col-4 xl:col-2 xl:col-offset-2">
    <p-card header="Abonnement Premium" styleClass="shadow-2 bg-primary">
      <p>
        <i class="pi pi-check-circle"></i
        ><span> Un accès limité à une base d'informations​</span>
      </p>
      <p>
        <i class="pi pi-check-circle"></i
        ><span> Un accès gratuit aux contenus et services</span>
      </p>
      <p>
        <i class="pi pi-check-circle"></i
        ><span> Un abonnement sans engagement</span>​
      </p>
      <p>
        <i class="pi pi-check-circle"></i
        ><span> Des outils d'analyse, d'alerte et de conseil</span>
      </p>
      <p>
        <i class="pi pi-check-circle"></i
        ><span> Les sélections et analyses de SVB Ind</span>
      </p>
      <p>
        <i class="pi pi-check-circle"></i
        ><span> Un journal numérique hebdomadaire</span>
      </p>
      <p>
        <i class="pi pi-check-circle"></i
        ><span> À partager avec vos proches (3 comptes Inclus)</span>
      </p>
    </p-card>
  </div>
</div>
