<h1>Découvrez nos différentes formules d'abonnements :</h1>
<p class="text-lg">Nos tarifs ont révolutionné le secteur, vous permettant de tirer le meilleur parti de vos investissements.</p>
<div
  class="grid md:mt-6"
>
  <div
    class="col-12 md:col-4 xl:col-2 xl:col-offset-1"
    >
    <p-card
      header="Abonnement Basique"
      styleClass="shadow-2 bg-yellow-200"
    >
        <ul>
          <li>Un accès limité à une base d'informations​</li>
          <li>Un accès gratuit aux contenus et services</li>
          <li>Un abonnement sans engagement​</li>
          <li class="text-500">Des outils d'analyse, d'alerte et de conseil</li>
          <li class="text-500">Les sélections et analyses de SVB Ind</li>
          <li class="text-500">Un journal numérique hebdomadaire</li>
          <li class="text-500">À partager avec vos proches (3 comptes Inclus)</li>
        </ul>
    </p-card>
  </div>
  <div
    class="col-12 md:col-4 xl:col-2 xl:col-offset-2"
  >
    <p-card
      header="Abonnement Essentiel"
      styleClass="shadow-2 bg-yellow-200"
    >
        <ul>
          <li>Un accès illlimité à une base d'informations​</li>
          <li>Un accès gratuit aux contenus et services</li>
          <li>Un abonnement sans engagement​</li>
          <li>Des outils d'analyse, d'alerte et de conseil</li>
          <li>Les sélections et analyses de SVB Ind</li>
          <li class="text-500">Un journal numérique hebdomadaire</li>
          <li class="text-500">À partager avec vos proches (3 comptes Inclus)</li>
        </ul>
    </p-card>
  </div>
  <div
    class="col-12 md:col-4 xl:col-2 xl:col-offset-2"
  >
    <p-card
      header="Abonnement Premium"
      styleClass="shadow-2 bg-yellow-200"
    >
        <ul>
          <li>Un accès illimité à une base d'informations​</li>
          <li>Un accès gratuit aux contenus et services</li>
          <li>Un abonnement sans engagement​</li>
          <li>Des outils d'analyse, d'alerte et de conseil</li>
          <li>Les sélections et analyses de SVB Ind</li>
          <li>Un journal numérique hebdomadaire</li>
          <li>À partager avec vos proches (3 comptes Inclus)</li>
        </ul>
    </p-card>
  </div>
</div>
