<form [formGroup]="form" (ngSubmit)="saveModification()">
  <h2 class="mb-5">Informations personnelles</h2>
  <div class="grid p-fluid">

    <!-- Nom -->
    <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
      <span class="p-float-label mb-2">
        <input type="text" id="lastName" formControlName="lastName" pInputText />
        <label for="lastName">Nom*</label>
      </span>
      @if (lastName?.touched) {
        <div class="p-error">
          @if (lastName?.hasError('required')) {
            <small>{{ messagesErreur }}</small>
          }
        </div>
      }
    </div>

    <!-- Prénom -->
    <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
      <span class="p-float-label mb-2">
        <input type="text" id="firstName" formControlName="firstName" pInputText />
        <label for="firstName">Prénom*</label>
      </span>
      @if (firstName?.touched) {
        <div class="p-error">
          @if (firstName?.hasError('required')) {
            <small>{{ messagesErreur }}</small>
          }
        </div>
      }
    </div>

    <!-- Date de naissance -->
    <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
      <span class="p-float-label mb-2">
        <p-datepicker
          formControlName="birthdate"
          inputId="birthdate"
          dateFormat="dd/mm/yy"
          [showIcon]="true">
        </p-datepicker>
        <label for="birthdate">Date de naissance*</label>
      </span>
      @if (birthdate?.touched) {
        <div class="p-error">
          @if (birthdate?.hasError('required')) {
            <small>{{ messagesErreur }}</small>
          }
        </div>
      }
    </div>

    <!-- Adresse -->
    <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
      <span class="p-float-label mb-2">
        <input type="text" id="address" formControlName="address" pInputText />
        <label for="address">Adresse*</label>
      </span>
      @if (address?.touched) {
        <div class="p-error">
          @if (address?.hasError('required')) {
            <small>{{ messagesErreur }}</small>
          }
        </div>
      }
    </div>

    <!-- Code postal -->
    <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
      <span class="p-float-label mb-2">
        <input type="text" id="zipcode" formControlName="zipcode" pInputText />
        <label for="zipcode">Code postal*</label>
      </span>
      @if (zipcode?.touched) {
        <div class="p-error">
          @if (zipcode?.hasError('required')) {
            <small>{{ messagesErreur }}</small>
          }
        </div>
      }
    </div>

    <!-- Ville -->
    <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
      <span class="p-float-label mb-2">
        <input type="text" id="city" formControlName="city" pInputText />
        <label for="city">Ville*</label>
      </span>
      @if (city?.touched) {
        <div class="p-error">
          @if (city?.hasError('required')) {
            <small>{{ messagesErreur }}</small>
          }
        </div>
      }
    </div>

    <!-- Pays -->
    <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
      <span class="p-float-label mb-2">
        <input type="text" id="country" formControlName="country" pInputText />
        <label for="country">Pays*</label>
      </span>
      @if (country?.touched) {
        <div class="p-error">
          @if (country?.hasError('required')) {
            <small>{{ messagesErreur }}</small>
          }
        </div>
      }
    </div>

  </div>

  <div class="grid p-fluid col-12 md:col-offset-4 md:col-4 justify-content-center">
    <button
      pButton pRipple
      [disabled]="form.invalid"
      type="submit"
      label="Sauvegarder mes informations personnelles"
      class="p-button-raised">
    </button>
  </div>
</form>