<form [formGroup]="form" (ngSubmit)="saveModification()">
  <h2 class="mb-5">Informations personnelles</h2>
  <div class="formgrid grid">

    <!-- Nom -->
    <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
      <label for="lastName">Nom*</label>
      <input type="text" id="lastName" formControlName="lastName"
        pInputText class="w-full" />
      @if (lastName?.touched && lastName?.hasError('required')) {
        <small class="p-error">{{ messagesErreur }}</small>
      }
    </div>

    <!-- Prénom -->
    <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
      <label for="firstName">Prénom*</label>
      <input type="text" id="firstName" formControlName="firstName"
        pInputText class="w-full" />
      @if (firstName?.touched && firstName?.hasError('required')) {
        <small class="p-error">{{ messagesErreur }}</small>
      }
    </div>

    <!-- Date de naissance -->
    <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
      <label for="birthdate">Date de naissance*</label>
      <p-datepicker
        formControlName="birthdate"
        inputId="birthdate"
        dateFormat="dd/mm/yy"
        [showIcon]="true"
        styleClass="w-full">
      </p-datepicker>
      @if (birthdate?.touched && birthdate?.hasError('required')) {
        <small class="p-error">{{ messagesErreur }}</small>
      }
    </div>

    <!-- Adresse -->
    <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
      <label for="address">Adresse*</label>
      <input type="text" id="address" formControlName="address"
        pInputText class="w-full" />
      @if (address?.touched && address?.hasError('required')) {
        <small class="p-error">{{ messagesErreur }}</small>
      }
    </div>

    <!-- Code postal -->
    <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
      <label for="zipcode">Code postal*</label>
      <input type="text" id="zipcode" formControlName="zipcode"
        pInputText class="w-full" />
      @if (zipcode?.touched && zipcode?.hasError('required')) {
        <small class="p-error">{{ messagesErreur }}</small>
      }
    </div>

    <!-- Ville -->
    <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
      <label for="city">Ville*</label>
      <input type="text" id="city" formControlName="city"
        pInputText class="w-full" />
      @if (city?.touched && city?.hasError('required')) {
        <small class="p-error">{{ messagesErreur }}</small>
      }
    </div>

    <!-- Pays -->
    <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
      <label for="country">Pays*</label>
      <input type="text" id="country" formControlName="country"
        pInputText class="w-full" />
      @if (country?.touched && country?.hasError('required')) {
        <small class="p-error">{{ messagesErreur }}</small>
      }
    </div>

    <!-- Bouton -->
    <div class="col-12 mt-12 form-actions">
      <button pButton pRipple style="width: auto;"
        [disabled]="form.invalid"
        type="submit"
        label="Sauvegarder mes informations personnelles"
        class="p-button-raised">
      </button>
    </div>

  </div>
</form>