<h2 class="mb-5">Mes informations personnelles</h2>
  <div class="grid p-fluid">
        <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
          <span class="p-float-label mb-2">
            <input
              type="text"
              id="surname"
              value={{personalData!.surname}}
              disabled
              pInputText
            />
            <label for="surname">Nom*</label>
          </span>
        </div>
        <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
          <span class="p-float-label mb-2">
            <input
              type="text"
              id="firstname"
              value={{personalData!.firstname}}
              disabled
              pInputText
            />
            <label for="firstname">Prénom*</label>
          </span>
        </div>
        <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
          <span class="p-float-label mb-2">
            <p-calendar
              inputId="birth_date"
              dateFormat="dd/mm/yy"
              [(ngModel)]="birth_date"
              [disabled]="true"
              [showIcon]="true"
            >
            </p-calendar>
            <label for="inputtext">Date de naissance*</label>
          </span>
        </div>
        <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
          <span class="p-float-label mb-2">
            <input
              type="text"
              id="Adresse"
              value={{personalData!.address}}
              disabled
              pInputText
            />
            <label for="address">Adresse*</label>
          </span>
        </div>
        <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
          <span class="p-float-label mb-2">
            <input
              type="text"
              id="zip_code"
              value={{personalData!.zip_code}}
              disabled
              pInputText
            />
            <label for="zip_code">Code postal*</label>
          </span>
        </div>
        <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
          <span class="p-float-label mb-2">
            <input type="text"
                    id="city"
                    value={{personalData!.city}}
                    disabled
                    pInputText/>
            <label for="city">Ville*</label>
          </span>
        </div>
        <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
          <span class="p-float-label mb-2">
            <input
              type="text"
              id="country"
              value={{personalData!.country}}
              disabled
              pInputText
            />
            <label for="country">Pays*</label>
          </span>
        </div>
    </div>
