<p-table [value]="articleListe" [paginator]="true" [rows]="10" [showCurrentPageReport]="true">
  <ng-template pTemplate="header">
    <tr>
      <th id="time">Date and time</th>
      <th id="title">Article title</th>
    </tr>
  </ng-template>
  <ng-template let-article pTemplate="body">
    <tr>
      <td>{{ article.publicationDate | date : "dd MMM y HH:mm:ss" }}</td>
      <td>
        @if (article.title.length <= titleLength) {
          <a href="{{ article.link }}" target="_blank" rel="noopener">{{ article.title }}</a>
        } @else {
          <a href="{{ article.link }}" target="_blank" rel="noopener"
            [pTooltip]="article.title" tooltipPosition="bottom">
            {{ article.title.substring(0, titleLength) }} [...]
          </a>
        }
      </td>
    </tr>
  </ng-template>
</p-table>