<div class="text-center">
<img src="assets/logo.png" alt="logo" width="397" height="223" />
<h1>Réinitialiser mon mot de passe</h1>
</div>
<form [formGroup]="formulaire" (ngSubmit)="validationResetPassword()">
  <div class="grid mt-5 p-fluid">
    <div class="col-12 lg:col-offset-4 lg:col-4 shadow-2 bg-primary-300">
      <p-card>
        <div class="field mb-6">
          <span class="p-float-label mb-2">
            <input id="mail" type="text" formControlName="mail" pInputText />
            <label for="mail">Email de connexion</label>
          </span>
        </div>
        <div class="col-offset-3 col-6 flex flex-wrap">
          <button pButton pRipple type="submit" label="Réinitialiser le mot de passe" class="p-button-raised mb-2"></button>
          <button pButton routerLink="./../connexion" label="Annuler" class="p-button-alert"></button>
        </div>
      </p-card>
    </div>
  </div>
</form>
<p-toast position="bottom-right"></p-toast>
