<h5 class="text-center">Macro-economic news</h5>

<p-tabs [value]="activeTab" (valueChange)="onTabChange(+($event))">
  <p-tablist>
    @for (stream of streams; track stream.label; let i = $index) {
      <p-tab [value]="i">{{ stream.label }}</p-tab>
    }
  </p-tablist>
</p-tabs>

@if (!isError) {
  <div class="grid mx-2">
    <div class="col-12 lg:col-3">
      <app-last-article-card [firstArticle]="firstArticle"></app-last-article-card>
    </div>
    <div class="col-12 md:col-9">
      <app-article-table [articleListe]="articleListe"></app-article-table>
    </div>
  </div>
  <app-table-footer [firstArticle]="firstArticle"></app-table-footer>
} @else {
  <p class="m-6">News can not be retrieved. Please try again later</p>
}